// web colors
$primary-color: #0CA5DA;
$primary-color-alt: #0C92C1;
$primary-color-alt-transparent: #0CA5DA77;
$primary-color-alt-transparent-2: #0C92C160;
$secondary-color: #FFD53A;
$black: #000000;
$white: #ffffff;
$footer-background: #24374d;

//text colors
$primary-text-color: $white;
$secondary-text-color: #2e6686;
$third-text-color: $secondary-color;

// fonts
$primary-font: 'Rubik', monospace;
$secondary-font: 'Rubik', sans-serif;
$tertiary-font: 'Rubik', sans-serif;

//layout
$max-width-layout: 1200px;

// please notice this are some breakpoint to be used for apply breakpoint to the css rules
@mixin breakpoint($size) {
  @if $size == 'xs' {
    @media (max-width: 361px) {
      @content;
    }
  } @else if $size == 'sm' {
    @media (max-width: 601px) {
      @content;
    }
  } @else if $size == 'md' {
    @media (max-width: 769px) {
      @content;
    }
  } @else if $size == 'lg' {
    @media (max-width: 901px) {
      @content;
    }
  } @else if $size == 'xl' {
    @media (max-width: 1201px) {
      @content;
    }
  }
}
